<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>:: ATOC ::</title>
<link rel="stylesheet" href="../../resources/css/style.default.css"
	type="text/css" />
<script type="text/javascript"
	src="../../resources/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript"
	src="../../resources/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript"
	src="../../resources/js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="../../resources/js/modernizr.min.js"></script>
<script type="text/javascript" src="../../resources/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../../resources/js/jquery.cookies.js"></script>
<script type="text/javascript" src="../../resources/js/custom.js"></script>
<script type="text/javascript"
	src="../../resources/js/jquery.blockUI.js"></script>
<script src="../../resources/js/config.js"></script>
<script src="../../resources/js/Application.js"></script>
</head>
<body style="background:url(../images/bg1.png);">
<div id="mainwrapper" class="loginpage">
	<div class="header logo">
		<a href="../../">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
			src="../../resources/images/atoc_logo.png" alt="atoc" /></a>
	</div>
	<br>
	<div class="maincontent">
		<div class="maincontentinner">
			<div class="widget">
				<h4 class="widgettitle">Registration Success</h4>
				<div class="widgetcontent">
					<div class="row">
						<div class="col-md-12">
							<h5>
								<center>
									Registation completed successfully.<br>You will be
									notified through mail once approved by our administrator.
								</center>
							</h5>
							<br>
							<center>
								<button type="submit" class="btn btn-primary" id="home">Home</button>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript" src="registration.js"></script>
	<script src="../../resources/js/BackButtonRestrict.js"></script>
</body>
</html>